In [4]:
import pandas as pd
path="..\\..\\data\\"
filename="music.csv"
df = pd.read_csv(path + filename)
df.shape

(18, 3)

In [6]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000